body{
	margin: 0;
	font-family: 'Arial', sans-serif;
}

input{
	width: 280px;
	padding: 6px;
	margin: 0 10px 10px 0;
}

.input-pequeno{
	width: 70px;
	margin-left: 15px;
}

select{ padding: 6px 0; }

button{
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	background-color: #00a4d3;
	color: white;
	font-weight: bold;
	padding: 8px 14px;
	margin: 10px 6px 0 0;
	border-radius: 2px;
	border: 1px solid black;
	transition: .15s linear;
	cursor: pointer;
}

button:hover{ background-color: #32b6db; }

#btn-remover, #btn-nao{ background-color: #9a72d7 }
#btn-remover:hover, #btn-nao:hover{
	background-color: #a480db;
}

a{ color: black; font-weight: bold;}

select:required:invalid { color: gray; }
option[value=""][disabled] { display: none; }
option { color: black; }

header{
	background: #02AAB0;
	background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
	background: linear-gradient(to right, #00CDAC, #02AAB0);
	box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	padding: 35px 0;
	margin-bottom: 80px;
}

h1{
	font-size: 28px;
	color: white;
	margin: 0 0 10px 0;
	text-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

h2{
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

h4{
	font-size: 22px;
	font-weight: normal;
	margin-top: 50px;
}



.cbh-conteudo-principal{ text-align: right; }

#logo{ 
	float: right;
	margin: 15px 40px 0 40px; 
	-webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, .3));
	 filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, .3)); 
}

.texto-cabecalho{
	width: 800px;
	display: inline-block;
}

#versao{ font-size: 20px; }

#creditos-cabecalho{
	padding: 3px 6px;
	margin-top: 6px;
	font-style: italic;
	font-size: 12px;	
	background-color: white;
	color: black;
	border-radius: 2px;
	display: inline-block;
	line-height: 18px;	
}
	




main{
	padding: 0 11%;
}

.titulo-sub-etapa{
	text-align: center;
	margin: 40px 0 50px 0;
	border-top: 1px solid #d6d6d6;
}

.conteudo-etapa1 .titulo-sub-etapa:first-child{ border-top: none; }

.individual-input_sel-discipl{ display: block; }

.titulo-sub-etapa p{
	color: #aaaaaa;
	font-size: 15px;
	font-style: italic;
	margin: 0;
}

.titulo-sub-etapa h4{ margin-bottom: 10px; }

.questionamento-dificuldade p{
	text-transform: uppercase;
	font-weight: bold;
}

.questionamento-dificuldade p:before{ content: "• "; }

.lista-questionamentos select{ margin-left: 30px; }

.msg-interativa{
	padding: 10px 15px;
	margin-left: -20px;
	margin-top: 50px;
	border-left: 4px solid #02aab0;
}

.box-coletar-peso-edital, 
.box-calcular-peso-edital,
.btn-etapa1,
#conteudo-secundario-etapa2,
#conteudo-secundario-etapa3,
#conteudo-secundario-resultado{ display: none; }

.btn-conclusao-etapa { text-align: right; }

.btn-conclusao-etapa button{ background-color: #00CDAC; }
.btn-conclusao-etapa button:hover{ background-color: #02AAB0; }

.img-etapa {width: 16px;}

.botoes-sim-nao button{
	margin-top: 0;
	padding: 4px 10px;
}

.botoes-sim-nao button:first-child{ margin-left: 10px; }

.box-coletar-numeros-tempo{ margin-bottom: 45px; }

.observacao{
	font-size: 14px;
	font-style: italic;
	color: grey;
	padding-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 14px;
}

th{
	background-color:  #00a4d3;
	color: white;
	border:1px solid white;
}

tr:nth-child(odd) { background-color: #e5f6f7; }

#tbl-num-compart{ background-color: #9a72d7; }

/*Tabela 2*/

#tabela-detalhes th, #tabela-detalhes td{
	font-size: 14px;
	background-color: white;
	border: 1px solid #dddddd;
	color: black;
}

#tabela-detalhes{ width: 48%; }

#tabela-detalhes th{ text-align: right; }

#tabela-detalhes tr:nth-child(odd) { background-color: #e5f6f7; }

#tabela-detalhes td, #tabela-detalhes th{ padding: 8px; }

/*Fim tabela 2*/


.detalhes-calculo{ color: #aaaaaa; }

#msg-final{
	line-height: 22px;
	margin-top: 50px;
	border-right: 6px solid #02aab0;
	text-align: justify;
	padding: 5%;
}

#msg-final a{ color: black; }

#msg-bons-estudos{
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}

#legenda-tabela{
	font-size: 12px;
	font-style: italic;
}



footer{
	background: #02AAB0;
	background: -webkit-linear-gradient(to left, #00CDAC, #02AAB0);
	background: linear-gradient(to left, #00CDAC, #02AAB0);
	margin-top: 120px;
	padding: 8px;
	color: white;
	font-size: 12px;
	text-align: center;
}

footer a{ color: white;}

