body{
	margin: 0;
	font-family: 'Arial', sans-serif;
}

input{
	width: 280px;
	padding: 6px;
	margin: 0 10px 10px 0;
}

.input-pequeno{
	width: 70px;
	margin-left: 15px;
}

select{ padding: 6px 0; }

button{
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	background-color: #5B86E5;
	color: white;
	font-weight: bold;
	padding: 8px 14px;
	margin: 10px 6px 0 0;
	border-radius: 2px;
	border: 1px solid black;
	transition: .15s linear;
	cursor: pointer;
}

button:hover{ background-color: #6b92e7; }

#btn-remover, #btn-nao{ background-color: #30BCC6 }
#btn-remover:hover, #btn-nao:hover{
	background-color: #59c9d1;
}

a{ color: black; font-weight: bold;}

select:required:invalid { color: gray; }
option[value=""][disabled] { display: none; }
option { color: black; }

header{
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	padding: 35px 0;
	margin-bottom: 80px;
}

h1{
	font-size: 28px;
	color: white;
	margin: 0 0 10px 0;
	text-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

h2{
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

h4{
	font-size: 22px;
	font-weight: normal;
	margin-top: 50px;
}



.cbh-conteudo-principal{ text-align: right; }

#logo{ 
	float: right;
	margin: 15px 40px 0 40px; 
	-webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, .3));
	 filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, .3)); 
}

.texto-cabecalho{
	width: 800px;
	display: inline-block;
}

#versao{ font-size: 20px; }

#creditos-cabecalho{
	padding: 2px 15px;
	margin-top: 6px;
	font-style: italic;
	font-size: 12px;	
	background-color: white;
	color: black;
	border-radius: 2px;
	display: inline-block;
	line-height: 18px;	
}
	




main{
	padding: 0 11%;
}

.titulo-sub-etapa{
	text-align: center;
	margin: 40px 0 50px 0;
	border-top: 1px solid #d6d6d6;
}

.conteudo-etapa1 .titulo-sub-etapa:first-child{ border-top: none; }

.individual-input_sel-discipl{ display: block; }

.titulo-sub-etapa p{
	color: #aaaaaa;
	font-size: 15px;
	font-style: italic;
	margin: 0;
}

.titulo-sub-etapa h4{ margin-bottom: 10px; }

.questionamento-dificuldade p{
	text-transform: uppercase;
	font-weight: bold;
}

.questionamento-dificuldade p:before{ content: "• "; }

.lista-questionamentos select{ margin-left: 30px; }

.msg-interativa{
	padding: 10px 15px;
	margin-left: -20px;
	margin-top: 50px;
	border-left: 4px solid #30BCC6;
}

.box-coletar-peso-edital, 
.box-calcular-peso-edital,
.btn-etapa1,
#conteudo-secundario-etapa2,
#conteudo-secundario-etapa3,
#conteudo-secundario-resultado,
.detalhes-calculo-conteudo{ display: none; }

.btn-conclusao-etapa { text-align: right; }

.btn-conclusao-etapa button{ background-color: #5B86E5; }
.btn-conclusao-etapa button:hover{ background-color: #30BCC6; }

.img-etapa {width: 16px;}

.botoes-sim-nao button{
	margin-top: 0;
	padding: 4px 10px;
}

.botoes-sim-nao button:first-child{ margin-left: 10px; }

.box-coletar-numeros-tempo{ margin-bottom: 45px; }

.observacao{
	font-size: 14px;
	font-style: italic;
	color: grey;
	padding-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 14px;
}

th{
	background-color: #30BCC6;
	color: white;
	border:1px solid white;
}

tr:nth-child(odd) { background-color: #eef2fc; }

#tbl-num-compart{ background-color: #5B86E5; }

/*Tabela 2*/

.detalhes-calculo{ margin-top: 30px; }

#btn-ver-detalhes{ padding: 6px 10px; }

.detalhes-calculo-conteudo table th, .detalhes-calculo table td{
	font-size: 14px;
	background-color: white;
	border: 1px solid #dddddd;
	color: black;
}

.detalhes-calculo-conteudo table{ width: 48%; }

.detalhes-calculo-conteudo table th{ text-align: right; }

.detalhes-calculo-conteudo table tr:nth-child(odd) { background-color: #e5f6f7; }

.detalhes-calculo-conteudo table td, .detalhes-calculo table th{ padding: 8px; }

#legenda-tabela{ color: #aaaaaa; }

/*Fim tabela 2*/




#msg-final{
	line-height: 22px;
	margin-top: 40px;
	border-top: 6px solid #30BCC6;
	border-right: 6px solid #30BCC6;
	text-align: justify;
	padding: 20px;
}

#msg-final span{ font-weight: bold; }

#msg-final a{ color: black; }

#msg-bons-estudos{
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}

#legenda-tabela{
	font-size: 12px;
	font-style: italic;
}



footer{
	background: #36D1DC; 
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); 
	background: linear-gradient(to right, #5B86E5, #36D1DC); 
	margin-top: 120px;
	padding: 8px;
	color: white;
	font-size: 12px;
	text-align: center;
}

footer a{ color: white;}

